
@{
    ViewBag.Title = "ActiveUser";
}

<h2 class="mb-3">فعالسازی حساب کاربری</h2>
<div class="alert alert-success text-center">
    <h2>@ViewBag.name عزیز</h2>
    <p> حساب شما با موفقیت فعال شد</p>
    <p>از طریق لینک زیر وارد سایت شوید.</p>
    <h3><a href="/Login">ورود به سایت</a></h3>
</div>


