@model Datalayer.User

@{
    ViewBag.Title = "SuccessRegister";
}


<div class="alert alert-success text-center p-5">
    <h2> @Model.Username عزیز</h2>
    <br/>
    <p> لینک فعالسازی به ایمیل @Model.Email ارسال شد. </p>
    <p> لطفا برای فعالسازی حساب خود، روی لینک ارسالی کلیک نمایید.</p>
</div>
