@model Datalayer.User
@{
    ViewBag.Title = "SuccessForgetPassword";
}

<div class="alert alert-success text-center p-5">
    <h2> @Model.Username عزیز</h2>
    <br />
    <p> لینک بازیابی رمز عبور به ایمیل @Model.Email ارسال شد. </p>
    <p> لطفا برای بازیابی کلمه عبور خود، روی لینک ارسالی کلیک نمایید.</p>
</div>


