@model Datalayer.User
@using System.Configuration

<div style="direction:rtl; text-align:center; padding:20px; border: 1px solid gray; background-color:cornsilk">
    <h2> @Model.Username عزیز</h2>
    <p>این ایمیل بنا به درخواست شما ارسال شده است</p>
    <p>لطفا برای بازیابی کلمه عبور ، روی لینک زیر کلیک نمایید.</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["myDomain"]/Account/ResetPassword/@Model.ActrivationCode"> لینک بازیابی کلمه عبور</a>
    </p>
</div>


