
@{
    ViewBag.Title = "Index";
}

<h2>پنل مدیریت</h2>

<hr />
<aside class="col-md-3 col-sm-4">
    <section>
        <div class="list-group">
            <a href="/Admin/Users/Index" class="list-group-item list-group-item-action active"><i class="fa fa-users"></i> <label>مدیریت کاربران</label> </a>
            <a href="/Admin/Product_Groups/Index" class="list-group-item list-group-item-action"><i class="fa fa-list-alt"></i> <label>مدیریت گروه بندی ها</label> </a>
        </div>
    </section>
</aside>
<div class="clearfix"></div>
