body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.max-w-100{
    max-width : 100%!important;
}

.max-h-100{
    max-height : 100%;
}

.margin-right-20 {
    margin-right: 20px;
}

.padding-top-20 {
    padding-top : 20px;
}

.margin-top-25{
    margin-top: 25px;
}

.img-box {
    height: 120px;
}

.field-validation-valid{
    display : none;
}