@model IEnumerable<Datalayer.Product>

@{
    ViewBag.Title = "Search";
}

@if (Model.Any())
{
    <section class="last-products">
        <header><h3>
    نتایج جستجو برای  <span class="text-primary bg-danger h3"> @Request.QueryString["q"] </span>
    <span class="small text-primary">( @Model.Count() نتیجه یافت شد. )</span>
</h3> </header>

        <article>

            @foreach (var item in Model)
            {
                @Html.Partial("_ProductBox", item)
            }

            <div class="clearfix"></div>
        </article>
    </section>
}
            else
            {
                <div class="alert alert-warning text-center">
                    <p>نتیجه ای یافت نشد</p>
                </div>
            }



